html {
    font-family:Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
  
body {
    margin: 0;
    background-color: floralwhite
}

h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

h2 {
    margin: 0.67em 0;
    font-size: 1.5em;
}

.song_title {
    margin: 0.67em 0;
    font-size: 1.2em;
    color: darkcyan;
}

div#divSearch{
    margin: 0 0;
    padding: 15px 45px 10px 30px;
    width: 100%;
    background-color: paleturquoise;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

div#divAdvancedSearch{
    margin: 20 20;
    padding: 15px 45px 15px 0px;
    width: 100%;
}

div#divTitleLeft {
    font-size: 1.2em;
    padding: 15px 30px 0px 30px;
    float: left;
    width: 80%
  }

div#divTitleRight {
    padding: 15px 30px 0px 0px;
    float: left;
    width: 20%;
    align-self: flex-end
}

div#divContent{
    padding: 5px 0px;
    float: left;
    width: 95%
}

div#divContentRight {
    padding: 15px 15px;
    float: left;
    width: 5%;
    align-self: flex-end
}

div#divFoot{
    margin: 15px;
    padding: 5px 0px;
    width:100%;
    font-size: 1em;
    text-align: center 
}

div#divHr {
    width: 98%;
}

hr.thick{
    border: 2px solid rgb(252, 206, 2);
    border-radius: 5px;
}

hr.thin{
    border: 2px solid rgb(b,b,b);
}

.ChineseContent{
    font-size: 1.5em;
    text-align: center 
}

.EnglishContent{
    font-size: 1.2em;
    text-align: center 
}

.SongNo{
    font-size: 1.5em;
    color: rgb(252, 206, 2);
}
